<!DOCTYPE html>
<html>
    <head>
        <title>DesignForm</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Jquery and Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <!-- Website CSS style -->
        <link rel="stylesheet" type="text/css" href="assets/css/index_style.css">

        <!-- Website JS -->
        <script src="../script/main.js"></script>

        <style>
            body {
                position: relative; 
            }
            #section1 {padding-top:50px;height:1000px;color: #fff; background-color: transparent;}
            #section2 {padding-top:50px;height:1000px;color: #fff; background-color: white;}
            #section3 {padding-top:50px;height:1000px;color: #fff; background-color: grey;}
            #section41 {padding-top:50px;height:1000px;color: #fff; background-color: white;}
            #section42 {padding-top:50px;height:1000px;color: #fff; background-color: indigo;}
        </style>
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="50">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- the left site name and logo -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="main">DesignForm</a>
                </div>

                <!-- the right bars -->
                <div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">


                                    <!-- check if the user has this token (is the user authenticated with this social account) -->
                                    <% if (loggedin) { %>
                                        <li><a href="login"> <%= loggedin.name  %> </a></li>

                                    <% } else { %>
                                             <li><a href="login">Log in</a></li>
                                    <% } %>

                            <li><a href="login">Log in</a></li>
                            <li><a href="register">Sign up</a></li>
                            <li><a href="#section2">Section 2</a></li>

                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                            <li><a href="#section41">Section 4-1</a></li>
                            <li><a href="#section42">Section 4-2</a></li>
                            </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
<div id="section1" class="container-fluid">
<video playsinline autoplay muted loop>
<source src="../img/section1.mp4" type="video/mp4">
</video>
<div id="videotext">
<h1>DesignForm</h1>
<p>Dsigned For sharing your design products</p >
<a href=" ">What is DESIGN</a >
<p>The website is proudly designed by University 
of Toronto students for share your design work 
with your colleagues, friends, or even future 
customers.<br />
You just need to sign up and upload 
your work, then you start experiencing explore
the design world and feel the pride of sharing
your own.
<p style="text-align: right;">Designed by Tom, <br />
Lisa, <br />
Leon, <br />
Wenzheng <br />
and Dingre<br /></p >

</p >
<button href="#">Start Your Journey</button>
</div>
<!-- the XXX part -->

<!-- the display part -->
<div id="section2" class="container-fluid">
    <div class="container">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active" align="center">
                    <img src="/img/culture.jpg" alt="Chania" width="460" height="345" >
                </div>

                <div class="item" align="center">
                    <img src="/img/culturegirl.jpg" alt="Chania" width="460" height="345" >
                </div>

                <div class="item" align="center">
                    <img src="/img/fashion.jpg" alt="Flower" width="460" height="345">
                </div>

                <div class="item" align="center">
                    <img src="/img/tiger.jpg" alt="Flower" width="460" height="345">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div>
        <h1> All works from Artists</h1>
        <% products.forEach(function(product){%>
        <div class = "col-md-5 col-sm-6">
            <div class="thumbnail">

                <div class="caption">
                    <img src="<%= product.picture%>" class="img-circle" alt="No Image Provided" width="200" height="136">
                    <button id=<%= product.name%> class="see_btn">SEE ME</button>

                    <h2>Name: <%= product.name %></h2>
                    <text>Description: <%=  product.description%></text>
                </div>

            </div>
        </div>
        <% })%>

        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    </div>

</div>

<div id="section42" class="container-fluid">

</div>

</body>
</html>
